@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

.greet_background{
  background: linear-gradient(rgb(89, 136, 180),rgb(59, 91, 121));
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Nunito Sans;

}
.greet_container{
  margin: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 24px;
  max-width: 1000px;
}
.greet_text{
  max-width: 450px;
  width: 100%;
}
.greet_text a{
  font-weight: 600;
  font-size: 24px;
  color: white;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.4);;
}
.greet_start_container{
  background: rgba(255,255,255,0.9);
  padding: 35px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(255,255,255,0.4);
}
.greet_start_container button{
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-weight: 1000;
  font-size: 15px;
  color: rgb(36, 36, 36);
  cursor: pointer;
  background: rgb(127, 176, 221);
  font-family: Nunito Sans;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
.greet_start_container button:hover{
  background: rgb(110, 157, 201);
}
.greet_start_container a{
  font-weight: 600;
  font-size: 18px;
  max-width: 370px;
}
.footer_container{
  background: rgb(7, 10, 14);
  width: 100%;
  height: 250px;
}